{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sewook Blog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <header class="header page-header">
      <h1 class="header__title text-center">
        <a href="/" class="text-decoration-none">sewookjung blog</a>
        <a href="{% url 'post_new' %}" class="top-menu"
          ><span class="glyphicon glyphicon-search"></span
        ></a>
      </h1>
    </header>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %} {% endblock%}
        </div>
      </div>
    </div>
  </body>
</html>
